.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Poppins;
}

html,body{
    width: 100%;
    height:100%;
    color: white;
    position: relative;
}
body{
    overflow-y: scroll;
    overflow-x: hidden;

}



p,h1{
    margin-top: 10px;
    margin-left: 10px;
    padding: 5px;
}

.main {
    background-color: rgba(0, 0, 0, 0.7);
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    background-attachment:fixed ;
    background-blend-mode: multiply;
}
.mainnav{
    width: fit-content;
}
.Handles_n_logo{
    display:inline-flexbox;
    float:right;
    position: relative;
    margin-top: 0px;
}

li {
    display: inline;
    margin-right: 15px;
}

#logo{
    margin-right: 60px;
    margin-left: 0px;
    font-size: 30px;
}

.main_logo{
    margin: 0;
    padding: 0;
}

.nav{
    margin-top: 30px;
    margin-left: 90px;
    display: inline-flexblock;
}

.main_navigation{
    height: 450px;
    width: 280px;
    display: flexbox;
    margin-left: 70px;
    margin-top: 50px;
    margin-right: 70px;
    background-color:rgba(149, 2, 2, 0.369);
    border-radius: 20px;
    position: relative;
}

ul.mainnav li{
    margin-right:50px;
}



li p{
    display: inline;
    margin: 0;
    padding: 0;
    font-size: 20px;
}
.nav_box{
    justify-content: center;
}
.main_navigation li {
    background-position: center;
}

.box_for_max_navigation{
    width: 100%;
    height: 100%;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top : 20px;
    margin-bottom: 20px;
    padding: 10px;
}

.box_for_max_navigation li{
    display:list-item;
    margin-left: 50px;
    margin-top: 30px;
}

.music_player_container{
    height: 90px;
    width: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.537);
    position: fixed;
    bottom: 0;
}

.center_logo{
    height: 500px;
    width: 800px;
    position: relative;
    left: 700px;
    bottom: 300px;
    
}
.center_logo h1{
    display: inline-block;
    font-size: 120px;
    margin: 0;
    padding: 0;
}

.center_logo img{
    display: inline;
    height: 300px;
    width: 300px;
    margin: 0;
    padding: 0;
}

#main_logo,#logo_text{
    position: relative;
    left: -30px;
}

#logo_text{
    font-size: 30px;
    position: relative;
    left: -40px;
}
#main_logo{
    position: relative;
    left: -30px;
}

.complete_logo{
    margin: 0;
    padding: 0;
    display: inline-block;
}

#logo_text_big{
    display: inline-block;
    font-size: 250px;
    position: relative;
    left: -110px;
}

#logo_text_big,#logo_text{
    font-family: "Mountains of Christmas", serif;
    font-weight: 400;
    font-style: normal;
}
.slide_bar{
    width: 30%;
    position: absolute;
    height: 5px;
    left: 41%;
    top: 30%;
    background-color: rgba(255, 255, 255, 0.234);
}
.slider {
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    outline: none;
    background: transparent;
    top: -13px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none; 
    height: 12px;
    width: 12px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: .2s ease-in-out;
  }
  .slider::-webkit-slider-thumb:hover {
    background-color: rgb(255, 0, 0);  
  }

  
.song_img_container{
    position: absolute;
    width: 35%;
    height: 50px;
    top: 14%;
    left: 2%;
}
 .song_img_container img{
    width: 50px;
    height: 100%;
 }
 .song_img_container p{
    position: absolute;
    font-family: Poppins;
    font-size: 17px;
    left:8%;
    margin-left: 30px;
    bottom: 25%;
 }
 p.artist{
    position: relative;
    font-size: 15px;
    width: fit-content;
    color: red;
    bottom: 80%;
 }

.music_controls{
    width: 30% ;
    height: 20px;
    position: absolute;
    left: 41%;
    top: 50%;
    display: flex;
    justify-content: center;
    
} 

.music_controls img{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
    
}

#loginSignup{
    position: relative;
    margin-right: 50px;
    margin-bottom: 0;
    font-size: 18px;
    top:-5px;
}
  

  
/*------------------------------------------------------------------------------*/

/* Mobile Styles */
@media only screen and (max-width: 826px) {
    .nav {
        position: relative;
        margin-top: 10px;
        margin-left: 20px;
        top: 15%;
    }

    .main_navigation {
        width: 80%;
        height: 45%;
        margin: 20px;
        position: relative;
        left: 3%;
        top: 17%;
    }
    ul.mainnav{
        width: 90%;
        position: relative;
    }

    ul.mainnav li {
        margin-right: 30px;
        position: relative;
        left: 30px;
        
    }
    ul.box_for_max_navigation{
        overflow-y: scroll;
    }
    .box_for_max_navigation li {
        margin-left: 40px;
        margin-top: 20%;
    }

    .center_logo {
        display: inline-flexblock;
        position: absolute;
        left: 20px;
        top: 50px;
        width: 80%;
        text-align: center;
    }


    .center_logo img {
        height: 0px;
        width: 70px;
    }

    #main_logo, #logo_text {
        left: -10px;
    }

    #logo_text {
        font-size: 20px;
        left: -20px;
    }

    #main_logo {
        left: -10px;
    }

    .complete_logo {
        display: block;
        text-align: center;
        position: relative;
        left: 9px;
        bottom: 10px;
    }

    #logo_text_big {
        font-size: 0px;
        left: -30px;
    }
    ul#righttop{
        margin: 0;
    }
    .Handles_n_logo{
        display: inline-block;
        position: absolute;
        width: fit-content;
        top: 3%;
        left: 37%;
        
    }
    .music_player_container{
        height: 100px;
        width: 100%;
        position: fixed;
        bottom: 0;
    }
    li.nav_box{
        margin: 0;
        position: relative;
        left: 5vh;
        width: fit-content;
        padding-top: 20px ;
        padding-bottom: 5%;

    }
    div.center_logo{
        height: 0 ;
    }


    #loginSignup{
        position: absolute;
        top: 100%;
        left: 18%;
    }
    .slide_bar{
        position: absolute;
        top:90%;
        width: 98%;
        left: 1%;
        overflow: hidden;
        justify-content: center;
    }

    
    .music_controls{
        position: absolute;
        left: 65%;
        width: 30%;
        overflow: hidden;
    }
    .song_img_container{
        width: 70%;
    }
    p.song_name{
        font-size: 14px;
    }
    p.artist{
        font-size: 12px;
    }
}