
@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap')

.red_text{
    position: relative;
    display: inline-block;
    color: red;
}
.top_nav{
    position: relative;
    display: inline-block;
    font-size: 16px;
    color: white;
}
.top_nav_current{
    position: relative;
    display: inline-block;
    color: red;
    font-size: 16px;
}
ul {
    list-style-type: none;
    margin-right: 90px;
    padding: 0;
  }


.logos{
    filter: invert(100%);
}

a{
    text-decoration: none;
}

.red_text {
    position: relative;
    display: inline-block;
    color: red; /* Set the default text color */
}

a .red_text::before {
    content: ''; /* Empty content for pseudo-element */
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.226);
    transition: width 0.5s; /* Adjust the duration as needed */
}

a .red_text:hover::before {
    width: 100%;
}



.top_nav:hover {
    color: red;
}
.top_nav_current:hover{
    color: white;
}
