.red_text{
    position: relative;
    display: inline-block;
    color: red;
}

ul {
    list-style-type: none;
    margin-right: 90px;
    padding: 0;
  }


.logos{
    filter: invert(100%);
}

a{
    text-decoration: none;
}

.red_text {
    position: relative;
    display: inline-block;
    color: red; /* Set the default text color */
}

a .red_text::before {
    content: ''; /* Empty content for pseudo-element */
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.226);
    transition: width 0.5s; /* Adjust the duration as needed */
}

a .red_text p:hover::before {
    width: 100%;
}

